
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Video Web</title>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.css">
</head>
<body>
    @RenderBody()
</body>
<head>
    <link type="text/css" rel="stylesheet" href="~/Skin/jplayer.pink.flag.css" />
    <script type="text/javascript" src="~/Scripts/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.jplayer.min.js"></script>
</head>

</html>
